<div class="modalLeft">
	<div class="modalImg"><img src="images/andyc.png" alt=""></div>
	<h4>Andy Chopra</h4>
	<h5>Chief Investment Officer</h5>
</div>
<div class="modalRight">
	<p>Andy is a principal of Banyan Investment Group and functions as the Chief Investment Officer. As the son of a hotelier, Mr. Chopra was raised in the hotel industry and brings extensive professional training and an intimate knowledge of hotel management and development to Banyan Investment Group.</p>
	<p>Mr. Chopra’s professional and academic background developed his keen sense of select service hotel investments and finance; his knowledge of hotel operations further sharpened his underwriting and deal origination expertise. His hands-on experience with the development of hotel properties ranges from brand selection to design and value engineering. He has also led hotel underwriting for potential acquisitions and development for co-investments in select service with Lubert Adler Funds, Euram Investment Group, DeBartolo Opportunity Fund, and Banyan Investment Group Fund.</p>
	<p>Before entering the hotel industry, Mr. Chopra gained corporate experience in sales and origination at Johnson &amp; Johnson, a Fortune 50 company. While there, he was awarded a company scholarship to pursue an MBA at Oglethorpe University. He continued his education in real estate investments and finance with a Master of Science in Real Estate from Georgia State University as well as a Certificate in Hotel Real Estate Investment and Asset Management From Cornell University.</p>
	<p>Mr. Chopra is based in Atlanta, Georgia, where he lives with his wife and son.</p>
</div>