<div class="modalLeft">
	<div class="modalImg"><img src="images/jeff_gevertz.jpg" alt=""></div>
	<h4>Jeff Gevertz</h4>
	<h5>VP of Asset Management</h5>
</div>
<div class="modalRight">
	<p>Jeff Gevertz serves as Vice President of Asset Management. His depth of experience and history of leadership plays a crucial part in not only the growth of Banyan Investment Group but in value for our investors.</p>
	<p>Prior to joining Banyan, Jeff provided asset and finance management for several firms including owning and operating his own firm, Safeguard Financial. In his previous positions, he introduced revenue management techniques resulting in millions of dollars of savings. Jeff has proven success in developing and implementing short, intermediate, and long-term strategies designed to sustain or improve the value of the asset and portfolio as a whole.</p>
	<p>Jeff gained valuable experience in his years spent with Marriott International and Apollo Real Estate Holdings as well as other key organizations in the industry. During his time at Marriott International, Jeff played a vital role in coordinating efforts to centralize global accounting services in order to streamline accounting procedures worldwide. At Apollo Real Estate Holdings, Jeff was instrumental in increasing NOI and ADR as well as the expansion of performance metrics and monthly financial analysis.</p>
	<p>Jeff attended Florida State University graduating with his Master of Business Administration for Real Estate Finance as well as a Bachelor of Arts in Finance. He also received a Masters Certification in Asset and Accounting Management from Cornell University.</p>
</div>