<div class="modalLeft">
	<div class="modalImg"><img src="images/joanna.png" alt=""></div>
	<h4>Joanna Lewellen</h4>
	<h5>VP of Operations</h5>
</div>
<div class="modalRight">
	<p>Responsible for revenue management and assisting with operations at various Banyan properties, Ms. Lewellen serves as Vice President of Operations with 20+ years of hospitality experience to our property management team. She began her relationship with Banyan Investment Group as General Manager of the Hampton Inn Crestview in 2011 and was quickly promoted to Director of Operations with a subsequent promotion to Vice President.</p>
	<p>Throughout her career, Ms. Lewellen has worked with national hotel brands including Holiday Inn, Clarion Suites, Hampton Inn and Wingate in a variety of leadership roles. She is a graduate of Kansas State University, where she earned a Bachelor of Science degree in Hotel and Restaurant Management. In addition, she was awarded the Spirit of Hampton Award in 1995 during her time as the AGM at the Hampton Inn &amp; Suites in Nashville, Tennessee. She is also currently certified in sales, inventory management and as a general manager through Hilton, and is a certified food manager through the National Restaurant Association. Joanna lives in Crestview, Florida with her two sons.</p>
</div>