<div class="modalLeft">
	<div class="modalImg"><img src="images/Ken-Floyd.jpg" alt=""></div>
	<h4>Ken Floyd</h4>
	<h5>Director of Operations</h5>
</div>
<div class="modalRight">
	<p>Responsible for overseeing operations, brand performance, and revenue management for Banyan in Northwest Florida, Mr. Floyd serves as Director of Operations with 10+ years of hospitality experience to the team. He began his career at the Sandestin Golf and Beach Resort where he worked in Guest Services. From there, he worked with several national hotel brands including Holiday Inn Express, Courtyard by Marriott, Wyndham Hotels, Crown Plaza, and Choice Hotels. He has also worked with several large, independent hotels in a variety of leadership roles.</p>
	<p>He attended Northwest Florida State University, studying Business Management. Mr. Floyd began his relationship with Banyan Investment Group as the General Manager of the Comfort Inn &amp; Suites in Ft. Walton Beach, FL. Ken lives in Navarre, FL, with his wife and three kids.</p>
</div>