<div class="modalLeft">
	<div class="modalImg"><img src="images/kirkw.png" alt=""></div>
	<h4>Kirk Wright</h4>
	<h5>Vice President of Operations</h5>
</div>
<div class="modalRight">
	<p>Mr. Wright serves as Vice President of Operations and brings 20+ years of hospitality experience to our property management team. He began his relationship with Banyan Investment Group as General Manager of the Holiday Inn Express &amp; Suites in Alpharetta, Georgia in 2013 and was additionally tasked to oversee the 265 Aloft Atlanta during its transition. He has refurbished and opened several hotels and specializes in sales, revenue management and standards implementation.</p>
	<p>Throughout his career, Mr. Wright has worked with independent and hotel brands including Holiday Inn, Comfort Inn &amp; Suites, Sheraton Suites and Courtyard by Marriott in a variety of leadership roles both nationally and internationally. He is a graduate of Florida International University, where he earned a Bachelor of Science degree in Hospitality Management. In addition, he was awarded the Banyan Hotel and Hotel General Manager Award in 2015 during his time as the GM at the Holiday Inn Express &amp; Suites in Alpharetta, Georgia. He is also currently certified as a general manager through IHG. Kirk lives in Georgia with his wife and two children.</p>
</div>