<div class="modalLeft">
	<div class="modalImg"><img src="images/manoj.jpg" alt=""></div>
	<h4>Manoj Chauhan</h4>
	<h5>Chief Development Officer</h5>
</div>
<div class="modalRight">
	<p>Manoj is a principal at Banyan Investment Group and serves as the company's CDO, overseeing all development functions. Understanding the hospitality industry has always come naturally to Manoj, having grown up in the family business. As a partner, he has more than twenty years of experience in the hotel industry, encompassing a broad variety of expertise.</p>
	<p>Prior to his development role, Manoj is largely credited with redefining the organization's operations and maximizing its overall management efficiencies, having built the seasoned management team that determines the standards by which the company works today. Before joining the family business in 1999, Manoj held various management positions at IHG, Wyndham and Hilton Worldwide franchises.</p>
	<p>Manoj holds a BBA in Finance from the University of West Florida. He currently lives in Florida with his wife and two daughters.</p>
</div>