<div class="modalLeft">
	<div class="modalImg"><img src="images/rakesh.png" alt=""></div>
	<h4>Rakesh Chauhan</h4>
	<h5>President and CEO</h5>
</div>
<div class="modalRight">
	<p>Rakesh is a principal of Banyan Investment Group and functions as the President and CEO of the company. Raised in the hospitality business, he has firsthand knowledge of its day-to-day and bigger-picture operations, from acquisition and development to implementation of management and processes.</p>
	<p>With a keen eye for future trends and a focus on the growth and the direction of the company, Rakesh is committed to moving Banyan Investment Group into the next generation. Through an aggressive growth plan, he is helping the company reach new levels of success.</p>
	<p>Rakesh completed his B.S. degree in Microbiology from Birmingham Southern College in 1999, and joined the family business after working at a Fortune 100 company. He is a actively involved with the Young Presidents Organization (YPO), a global network of young chief executives with 21,000 members across 125 countries. On the philantrophy front, Rakesh serves as a board member with the Akshaya Patra Foundation, a non-profit organization providing freshly cooked and nutritious classroom lunches for nearly 1.3 million underprivileged children in India. Akshaya Patra is the world’s largest non-government mid day meal program for underprivileged school children in India.</p>
	<p>Rakesh Chauhan is based in Atlanta, Georgia, where he lives with his wife and two children.</p>
</div>