<div class="modalLeft">
	<div class="modalImg"><img src="images/Sameer-Nair.jpg" alt=""></div>
	<h4>Sameer Nair</h4>
	<h5>VP of Hotel Investments</h5>
</div>
<div class="modalRight">
	<p>As Vice President of Hotel Investments, Sameer is responsible for all stages of acquisition deal deliverables from identification of target assets to conducting closings. Sameer has worked on both the debt and equity sides of real estate.</p>
	<p>Prior to Banyan, Sameer worked for a boutique private equity real estate firm specializing in off market select service hotel transactions. Sameer was involved in approximately $530MM worth of acquisition and development transactions, including four development deals in South Florida. Additionally, Sameer assisted with debt and equity placement for several hotel assets and is a licensed real estate sales associate in the State of Florida. Sameer also previously worked for a diversified real estate investment, finance, management, and development company specializing in the secondary mortgage markets. While at the special servicer, Sameer participated in loan workouts, valuations, REO dispositions and lease negotiations with all major real estate asset types in addition to hotels. Sameer is a graduate of The School of Hotel Administration at Cornell University and is currently based in Atlanta, Georgia.</p>
</div>