<div class="modalLeft">
	<div class="modalImg"><img src="images/vick.png" alt=""></div>
	<h4>Vick Chauhan</h4>
	<h5>Chief Legal Officer</h5>
</div>
<div class="modalRight">
	<p>Vick is a principal of Banyan Investment Group and functions as the Chief Legal Officer. With a foundation rooted in the hospitality industry and years of corporate law experience, Vick advises Banyan Investment Group on creative solutions to complex industry issues. As the founder’s youngest son, Vick brings a unique and valuable perspective to the firm, leveraging relevant laws and regulations with an ingrained focus on the hospitality business.</p>
	<p>Prior to joining Banyan Investment Group in 2005, Vick worked at large and boutique law firms specializing in corporate transactions, structuring and asset succession. He has provided counsel to various Fortune 500 and growth companies on corporate formation, structuring and reorganization; buying and selling assets; mergers and acquisitions; tax incentives and minimization; business planning and generational asset protection strategies.</p>
	<p>Vick holds a BBA in Marketing from Georgia State University in Atlanta, Georgia and a J.D. from Touro Law School in New York. He is licensed to practice law in New York, New Jersey, and Florida.</p>
	<p>Vick lives in Atlanta, Georgia with his wife.</p>
</div>